<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <h3>Carbon Emissions</h3>
  <ion-card>
      <img src="../../assets/imgs/emission.jpg"/>
      <div class="card-title">US Average</div>
      <div class="card-subtitle">40,000 lbs</div>
  </ion-card>
  <ion-card *ngIf="currentScore > 0" (click)="getStarted()">
      <img src="../../assets/imgs/co2.jpg"/>
      <div class="card-title">Your Average</div>
      <div class="card-subtitle">{{currentScore}} lbs</div>
  </ion-card>
  <ion-card *ngIf="currentScore === 0" (click)="getStarted()">
      <img src="../../assets/imgs/co2.jpg"/>
      <div class="card-title">Your Average</div>
      <div class="card-subtitle">Find it out</div>
  </ion-card>
  <ion-card>
      <ion-card-header>
        US Average
      </ion-card-header>
      <ion-card-content>
        <canvas #doughCanvas></canvas>
      </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        US Average
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
  </ion-card>
  <button ion-button icon-start (click) = "shareSheetShare()">
      <ion-icon name="share"></ion-icon>
      Share
    </button>
</ion-content>
